<header>
    <div class="container-fluid">
        <div class="row sub-header">
            <div class="col-xs-12 sub-header-wrap">
                <h1>Xin Board</h1>
                <button {{action "newCard"}} class="btn btn-primary btn-sm" type="button" title="Add a new card">New Card</button>
                <button class="btn btn-default btn-sm pull-right" type="button" title="Remove all cards">Clear</button>
            </div>
        </div>
    </div>
</header>

<section id="board">
    <div class="container-fluid">

        <!-- Column Header -->
        <div class="row column-header">
            <div class="col-xs-4">
                <h2>Backlog</h2>
            </div>
            <div class="col-xs-4">
                <h2>In Progress</h2>
            </div>
            <div class="col-xs-4">
                <h2>Done</h2>
            </div>
        </div>

        <!-- Columns -->
        <div class="row columns-container">
            <div class="col-xs-4">
                <div class="cards-container">

                  {{#each model as |card|}}
                    {{#story-card id=card.id color=card.color title=card.title onTitleEnter=(action "updateTitle")}}
                    {{/story-card}}
                  {{/each}}

                </div>
            </div>
            <div class="col-xs-4">
                <div class="cards-container"></div>
            </div>
            <div class="col-xs-4">
                <div id="done" class="cards-container"></div>
            </div>
        </div>

    </div>
</section>

<ul id="color-chooser-dropdown" class="dropdown-menu">

</ul>
