<div class="container">
  <div class="jumbotron">
      <h1>Xin</h1>
      <p>A sample Ember.js application with drag and drop.</p>
      <p>{{#link-to "board" classNames="btn btn-primary btn-lg"}}Start App{{/link-to}}</p>
  </div>
</div>